############################
# Node / Strapi
############################
node_modules/
.tmp/
.cache/
.strapi/
dist/
build/
.strapi-updater.json

############################
# Μυστικά — ΠΟΤΕ μην τα ανεβάζετε
############################
.env

############################
# Ανεβασμένα αρχεία χρήστη
############################
public/uploads/*
!public/uploads/.gitkeep

############################
# Λογισμικά / OS
############################
.DS_Store
Thumbs.db
*.log
